/test_srt/
/test_mp3/
/test_srt/
/test_format/
/test_format_final/
/chinese_srt/
/test_thumbnail/
/test_mp4_clips/
/short/cookies/
/short/driver/
/test_tts_mp3/
/test_ssml/
# ignore all mp3 files
*.mp3
*.mp4